/* Footer */
.footer {
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
	/* background: #969696; */
}

.footer .footer-location {
	text-align: center;
	margin-bottom: 30px;
	gap: 10px;
}

.footer .location-icon img {
	width: 80px;
	height: 80px;
}

.footer .location-text {
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
	color: #0d2d18;
	opacity: 0.8;
}

.footer .social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.footer .footer-bottom {
	position: relative;
	width: 100%;
	height: 185px;
}

.footer-bottom .content {
	z-index: 1;
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 110px 50px 0px 50px;
	color: white;
}

.footer-bottom .waves-image {
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
