@import url('./base.css');

@import url('./components/header.css');
@import url('./components/hero.css');
@import url('./components/hero-page.css');
@import url('./components/cookie-banner.css');
@import url('./components/whatsapp-float.css');
@import url('./components/intro.css');
@import url('./components/why-choose.css');
@import url('./components/shorex.css');
@import url('./components/corporate.css');
@import url('./components/groups.css');
@import url('./components/designed-for-you.css');
@import url('./components/experiences-carousel.css');
@import url('./components/sustainability.css');
@import url('./components/partners-carousel.css');
@import url('./components/footer.css');
@import url('./components/marquee.css');

@import url('./pages/our-story.css');
@import url('./pages/sustainability.css');
@import url('./pages/shorex.css');
@import url('./pages/contact-us.css');
@import url('./pages/press-partners.css');
@import url('./pages/loyalty-program.css');
@import url('./pages/insider.css');
@import url('./pages/insider-article.css');
@import url('./pages/experiences.css');
@import url('./pages/groups-incentives.css');