/* Welcome Section */
.welcome {
	/* padding: 100px 0; */
	margin: 100px 0;
	background: white;
}

.welcome .container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.welcome .container-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 50px;
	align-items: center;
}

.welcome-images {
	display: flex;
	gap: 20px;
	align-items: center;
}

.welcome .image-placeholder {
	border-radius: 32px;
	overflow: hidden;
}

.welcome .image-placeholder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.welcome .image-placeholder.large {
	width: 280px;
	height: 452px;
}

.welcome .image-placeholder.small {
	width: 180px;
	height: 317px;
}

.welcome .coming-soon-container {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
	margin-bottom: 1rem;
}

.welcome .coming-soon-container .coming-soon {
	font-weight: 500;
	color: #0d2d18;
	font-size: 1.25rem;
	opacity: 0.8;
	text-transform: uppercase;
}

.welcome .coming-soon-container .line {
	width: 40px;
	height: 2px;
	background-color: #d8c49b;
}

.welcome .title {
	font-family: "Helvetica", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1rem;
	color: #1e293b;
}

.welcome .description {
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	color: #0d2d18;
	margin-bottom: 1.5rem;
	line-height: 1.7;
	letter-spacing: 0.01em;
	opacity: 0.8;
}

.welcome .contact-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.welcome .contact-btn {
	display: flex;
	align-items: start;
	gap: 10px;
	padding: 12px 18px;
	border: 1px solid #0d2d18;
	border-radius: 20px;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
	text-align: left;
}

.contact-btn strong {
	display: block;
	color: #1e293b;
	font-size: 1rem;
}

.contact-btn small {
	display: block;
	color: #64748b;
	font-size: 0.9rem;
	margin-top: 2px;
}

/* Responsive Design */
@media (max-width: 768px) {
	.welcome {
		margin: 70px 0;
	}

	.welcome .container-grid {
		grid-template-columns: 1fr;
		text-align: center;
		gap: 20px;
	}

	.welcome .coming-soon-container {
		justify-content: center;
		gap: 10px;
	}

	.welcome .contact-buttons {
		justify-content: center;
		gap: 10px;
	}
}

@media (max-width: 480px) {
	/* .welcome .container-grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 50px;
		align-items: center;
	} */
}
