/* ============================================
   COOKIE BANNER COMPONENT
   ============================================ */
.cookie-banner {
    position: fixed;
    bottom: 24px;
    left: 24px;
    transform: translateY(150%);
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 53.75rem;
    padding: 1rem;
    background-color: var(--color-cookie-bg);
    border-radius: 1rem;
    transition: transform var(--transition-slow);
}

.cookie-banner.active {
    transform: translateY(0);
}

.cookie-banner.hidden {
    display: none;
}

.cookie-banner__text {
    flex: 1;
    margin: 0;
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.cookie-banner__text a {
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-decoration-line: underline;
}


.cookie-banner__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

.cookie-banner__btn {
    padding: 1rem;
    color: var(--Accent, #F7F2E5);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    white-space: nowrap;
    cursor: pointer;
}

.cookie-banner__btn--accept {
    border-radius: 1rem;
    background: var(--Gradient-Background, linear-gradient(90deg, #0B2D3C 0%, #11250E 100%));
    box-shadow: 0 0 24px 8px rgba(255, 255, 255, 0.13) inset, 0 8px 32px 0 rgba(31, 38, 135, 0.13);
    backdrop-filter: blur(6px);
    color: #F7F2E5;
}

.cookie-banner__btn--accept:hover {
    background-color: #0c2429;
    border-color: #0c2429;
}

.cookie-banner__btn--reject {
    border-radius: 1rem;
    background: #F7F2E5;
    box-shadow: 0 0 24px 8px rgba(255, 255, 255, 0.13) inset, 0 8px 32px 0 rgba(31, 38, 135, 0.13);
    backdrop-filter: blur(6px);
    color: #0D2D18;
}

.cookie-banner__btn--reject:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

/* ============================================
   RESPONSIVE
   ============================================ */

@media (max-width: 768px) {
    .cookie-banner {
        left: var(--container-padding);
        right: var(--container-padding);
        width: auto;
        bottom: var(--spacing-md);
        flex-direction: column;
        align-items: stretch;
        padding: var(--spacing-lg);
        gap: var(--spacing-lg);
        border-radius: var(--radius-xl);
    }

    .cookie-banner__text {
        font-size: 0.75rem;
        text-align: left;
    }

    .cookie-banner__buttons {
        justify-content: flex-start;
    }

    .cookie-banner__btn {
        flex: 1;
        padding: 0.75rem 1rem;
    }
}
