/* ============================================
   INTRO/PARTNER SECTION COMPONENT
   ============================================ */

.intro {
    position: relative;
    padding: 6.375rem 0;
}

.intro-experiences {
    padding: 6.375rem 0 3.5rem 0;
}

.intro-experiences .intro__title {
    color: #F7F2E5;  
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    line-height: 3.375rem;
    letter-spacing: -0.06rem;
}

.intro-experiences .intro__image {
    border-radius: 0 2.75rem 2.75rem 0;
    height: 40.375rem;
}



.intro__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-3xl);
    align-items: center;
    padding-right: var(--container-padding);
}

.intro__image-wrapper {
    position: relative;
}

.intro__image {
    border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
    overflow: hidden;
}

.intro__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Content Section */
.intro__content {
    padding-left: var(--spacing-2xl);
    max-width: 670px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.intro__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro__title {
    color: #F7F2E5;
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.06rem;
}

.intro__subtitle {
    color: var(--secondary-500, #D8C49B);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
}

.intro__description {
    color: var(--secondary-500, #D8C49B);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.intro__description p {
    margin-bottom: var(--spacing-lg);
}

.intro__description p:last-child {
    margin-bottom: 0;
}

/* ============================================
   RESPONSIVE
   ============================================ */

@media (max-width: 1024px) {
    .intro__content {
        padding-left: var(--spacing-xl);
    }
}

@media (max-width: 768px) {
    .intro {
        padding: var(--spacing-3xl) 0;
        padding-top: 0 !important;
    }

    .intro__image picture {
        height: 15.25rem;
    }

    .intro__container {
        grid-template-columns: 1fr;
        gap: var(--spacing-2xl);
        padding-right: 0;
    }

    .intro__image-wrapper {
        order: 1;
    }

    .intro__image {
        border-radius: 0;
    }

    .intro__content {
        order: 2;
        padding: 0 var(--container-padding);
        max-width: none;
    }

    .intro__title {
        font-size: 3rem;

    }

    .intro__subtitle {
        font-size: 1.25rem;
    }

    .intro__description {
        font-size: 1.125rem;
    }
}
